<div class="transferTransaction-page">
	<div class="container-fluid main">
		<div class="row">
			<div style="margin-bottom: 40px" class="col-sm-8">
				<h2>{{ 'CACHE_TRANSFER_TITLE' | translate }}</h2>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-6 col-md-12">
				<div style="max-width: 600px; min-width: 600px" class="panel-heading">
					<ul class="nav nav-tabs">
						<li ng-class="$ctrl.formData.isMultisig ? '' : 'active'">
							<a ng-click="$ctrl.formData.isMultisig = false;$ctrl.updateCurrentAccountMosaics();$ctrl.setMosaicTransfer();">{{ 'GENERAL_TAB_SEND' | translate }}</a>
						</li>
					</ul>
				</div>
				<div class="panel-body">
					<account-input account="$ctrl.formData.recipient" public-key="$ctrl.formData.recipientPublicKey"></account-input>
					<fieldset class="form-group" ng-show="!$ctrl.isMosaicTransfer">
						<div class="input-group">
							<div style="max-width: 600px; min-width: 600px; height: 40px; border-radius: 3px; border: none" class="form-control formFloat" ng-disabled="$ctrl.isMosaicTransfer">
								<input class="placeholderColor" placeholder="Amount" type="text" ng-disabled="$ctrl.isMosaicTransfer" ng-model="$ctrl.formData.amount" maxlength="17" ng-change="$ctrl.prepareTransaction();" />
								<label style="padding-bottom: 18px" class="floatRight"><small>CHE</small></label>
							</div>
						</div>
					</fieldset>
					<div style="margin-top: 70px">
						<message-area style="margin-top: 100px" message="$ctrl.formData.message" message-type="$ctrl.formData.messageType" characters-left="$ctrl.charactersLeft" update-ctrl="$ctrl.prepareTransaction();"></message-area>
					</div>
					<fee-input tx="$ctrl.preparedTransaction" is-multisig="$ctrl.formData.isMultisig"></fee-input>
					<password-input common="$ctrl.common"></password-input>
					<div style="display: flex; align-items: center;margin-top: 40px;width: 200px;justify-content: space-between">
						<button style="width: 200px; height: 44px !important;" class="sign-in-button" type="submit" ng-disabled="$ctrl.okPressed || $ctrl._Wallet.algo !== 'trezor' && !$ctrl.common.password.length || $ctrl.formData.recipient.length !== 40 || $ctrl.formData.messageType === 2 && $ctrl.formData.recipientPublicKey.length !== 64 || $ctrl.isMosaicTransfer && $ctrl.formData.isMultisig && !$ctrl.preparedTransaction.otherTrans.mosaics.length || $ctrl.isMosaicTransfer && !$ctrl.formData.isMultisig && !$ctrl.preparedTransaction.mosaics.length || !$ctrl._Helpers.isTextAmountValid($ctrl.formData.amount) || $ctrl.charactersLeft < 0 || $ctrl.formData.messageType === 0 && $ctrl.formData.message.length && !$ctrl._Helpers.isHexadecimal($ctrl.formData.message)" ng-click="$ctrl.send()">{{ 'GENERAL_SEND' | translate }}
						</button>
					</div>
				</div>
			</div>
			<attach-mosaic ng-show="$ctrl.isMosaicTransfer" form-data="$ctrl.formData" selected-mosaic="$ctrl.selectedMosaic" account-mosaics="$ctrl.currentAccountMosaicData" update-ctrl="$ctrl.prepareTransaction();"></attach-mosaic>
		</div>
	</div>
</div>