<div class="dashboard-page">
  <div class="container-fluid main">
    <div class="row">
      <div style="margin-bottom: 40px" class="col-sm-9">
        <h2>{{'DASHBOARD_TITLE' | translate}}</h2>
      </div>
      <div class="col-sm-3 secondary">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8 col-md-9">
        <div class="row">
          <div class="col-lg-12">
            <div class="panel-heading">
              <ul class="nav nav-tabs">
                <li ng-class="$ctrl.tabConfirmed ? 'active' : ''">
                  <a ng-click="$ctrl.tabConfirmed = true;$ctrl.currentPageUnc = 0">{{
                    'DASHBOARD_CONFIRMED' | translate }}</a>
                </li>
                <li ng-class="$ctrl.tabConfirmed ? '' : 'active'">
                  <a ng-click="$ctrl.tabConfirmed = false;$ctrl.currentPage = 0">{{
                    'DASHBOARD_UNCONFIRMED' | translate }}
                    <span class="badge">{{$ctrl._DataStore.account.transactions.unconfirmed.length}}</span>
                  </a>
                </li>
              </ul>
              <paginate ng-show="$ctrl.tabConfirmed"
                        data="$ctrl._DataStore.account.transactions.confirmed"
                        current-page="$ctrl.currentPage" page-size="$ctrl.pageSize"></paginate>
              <paginate ng-show="!$ctrl.tabConfirmed"
                        data="$ctrl._DataStore.account.transactions.unconfirmed"
                        current-page="$ctrl.currentPageUnc" page-size="$ctrl.pageSize"></paginate>
            </div>
            <table class="table table-condensed top">
              <thead>
              <tr>
                <th>{{ 'GENERAL_ACCOUNT' | translate }}</th>
                <th>{{ 'GENERAL_AMOUNT' | translate }}</th>
                <th>{{ 'GENERAL_MESSAGE' | translate }}</th>
                <th>{{ 'GENERAL_DATE' | translate }}</th>
              </tr>
              </thead>
            </table>
            <table class="table">
              <tbody>
              <div ng-show="$ctrl.tabConfirmed">
                <div ng-repeat="tx in $ctrl._DataStore.account.transactions.confirmed| orderBy:'-transaction.timeStamp' | startFrom:$ctrl.currentPage*$ctrl.pageSize | limitTo:$ctrl.pageSize">
                  <tag-transaction d="tx" tooltip-position="'left'"></tag-transaction>
                </div>
              </div>
              <div ng-show="!$ctrl.tabConfirmed">
                <div ng-repeat="tx in $ctrl._DataStore.account.transactions.unconfirmed | orderBy:'-transaction.timeStamp' | startFrom:$ctrl.currentPageUnc*$ctrl.pageSize | limitTo:$ctrl.pageSize">
                  <tag-transaction d="tx" tooltip-position="'left'"></tag-transaction>
                </div>
              </div>
              </tbody>
            </table>
            <span class="col-lg-12" style="text-align: right;margin-top: 5px;"
                  ng-show="$ctrl.tabConfirmed && $ctrl._DataStore.account.transactions.confirmed.length > 24"><a
                    ui-sref="app.explorerTransactions">{{ 'DASHBOARD_MORE_TXES' | translate }}</a></span>
            <div class="panel-body nothing"
                 ng-show="($ctrl._DataStore.account.transactions.confirmed.length == 0 && $ctrl.tabConfirmed) || ($ctrl._DataStore.account.transactions.unconfirmed.length == 0 && !$ctrl.tabConfirmed)">
              <p style="color: white; font-family: 'Sans Light'; font-size: 1em">{{ 'GENERAL_NO_RESULTS' |
                translate }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
