<div class="row">
  <div class="col-md-12 explorerNav">
    <div class="panel-heading">
      <ul class="nav nav-tabs">
        <li>
          <a ui-sref-active="active" ui-sref="app.explorerHome">
            {{ 'EXPLORER_NAV_HOME' | translate }}
          </a>
        </li>
        <li>
          <a ui-sref-active="active" ui-sref="app.explorerNamespacesMosaics">
            {{ 'EXPLORER_NAV_NSM' | translate }}
          </a>
        </li>
        <li>
          <a ui-sref-active="active" ui-sref="app.accountsExplorer">
            {{ 'GENERAL_ACCOUNTS' | translate }}
          </a>
        </li>
        <li>
          <a ui-sref-active="active" ui-sref="app.explorerTransactions">
            {{ 'GENERAL_TRANSACTIONS' | translate }}
          </a>
        </li>
        <li>
          <a ui-sref-active="active" ui-sref="app.explorerApostilles">
            {{ 'EXPLORER_NAV_APOSTILLES' | translate }}
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
