<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a style="margin-top: 20px" class="navbar-brand" ui-sref="app.login">
        <img src="../../images/cacheIcon-light.svg">
        <span>{{ 'WALLET_NAME_1' | translate }}</span>
        <span class="hue brand-name-2">{{ 'WALLET_NAME_2' | translate }}</span>
      </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav" ng-show="$ctrl._DataStore.account.metaData.account">
        <li>
          <a style="outline:0;" ui-sref-active="active" ui-sref="app.dashboard" show-authed="true">
            <i class="fa fa-home"></i> {{ 'HEADER_DASHBOARD' | translate }}
          </a>
        </li>
        <li>
          <a style="outline:0;" ui-sref-active="active" ui-sref="app.transferTransaction" show-authed="true">
            <i class="fa fa-send"></i> {{ 'GENERAL_SEND' | translate }}
          </a>
        </li>
        <li>
          <a style="outline:0;" ui-sref-active="active" ui-sref="app.portal" show-authed="true">
            <i class="fa fa-wrench"></i> {{ 'HEADER_SERVICES' | translate }}
          </a>
        </li>
        <li>
          <a style="outline:0;" ui-sref-active="active" ui-sref="app.explorerHome" show-authed="true">
            <i class="fa fa-globe"></i> {{ 'HEADER_EXPLORER' | translate }}
          </a>
        </li>
        <balance class="nav navbar-nav"></balance>
        <!--<li class="address" style="border-left:none;">
          <a style="outline:0;font-size:85%;cursor:pointer;" show-authed="true" ui-sref-active="active" ui-sref="app.account" >
            <b>{{ $ctrl._Wallet.currentAccount.address | fmtAddress }}</b>
          </a>
        </li>-->
      </ul>
      <ul class="nav navbar-nav" show-authed="false">
        <!--<li>-->
          <!--<a style="outline:0;" ui-sref-active="active" ui-sref="app.offlineTransactionCreate">-->
            <!--<i class="fa fa-lock"></i> {{ 'HEADER_OFFLINE_TX' | translate }}-->
          <!--</a>-->
        <!--</li>-->
        <!--<li>-->
          <!--<a style="outline:0;" ui-sref-active="active" ui-sref="app.offlineTransactionSend">-->
            <!--<i class="fa fa-globe"></i> {{ 'HEADER_RELEASE_TX' | translate }}-->
          <!--</a>-->
        <!--</li>-->
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <!--<li>-->
          <!--<a class="login" ui-sref-active="active" ui-sref="app.login" show-authed="false">-->
            <!--<small><b>{{ 'HEADER_LOGIN_BUTTON' | translate }}</b></small>-->
          <!--</a>-->
        <!--</li>-->
        <!--<li>-->
          <!--<a style="outline:0;text-transform: uppercase;" ui-sref-active="active" ui-sref="app.signup" show-authed="false">-->
            <!--<small><b>{{ 'HEADER_SIGNUP_BUTTON' | translate }}</b></small>-->
          <!--</a>-->
        <!--</li>-->
        <div class="form-group">
            <div type="button" class="fileUpload import-btn">
              <img src="../../images/download-icon.svg"/>
              <span>{{ 'LOGIN_IMPORT_BUTTON' | translate }}</span>
              <input type="file" class="upload" multiple='multiple' read-wallet-files="$ctrl.loadWallet($fileContent, $isNCC)" />
            </div>
          </div>
        <!--<li class="node" style="cursor:pointer;">-->
          <!--<a data-toggle="modal" data-target=".nodes" aria-haspopup="true" aria-expanded="false" show-authed="true">-->
            <!--<i class="fa fa-circle" ng-style="$ctrl._DataStore.connection.status ? {'color': '#00b300'} : {'color': 'red'}"></i> {{ 'HEADER_NODE' | translate }}-->
          <!--</a>-->
        <!--</li>-->
        <li class="account" ng-show="$ctrl._DataStore.account.metaData.account">
          <a ui-sref-active="active" ui-sref="app.account" show-authed="true">
            {{ 'HEADER_ACCOUNT' | translate }}
          </a>
        </li>
        <li class="account2" ng-show="$ctrl._Wallet.currentAccount.label">
          <a>: {{ $ctrl._Wallet.currentAccount.label }}</a>
        </li>
        <li style="display:none">
          <a style="outline:0;cursor:default;" show-authed="true" show-block-height></a>
        </li>
        <!--<li class="dropdown">-->
          <!--<a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ 'HEADER_LANG_TITLE' | translate }}</a>-->
          <!--<ul class="dropdown-menu">-->
            <!--<li>-->
              <!--<select class="form-control" ng-model="$ctrl.lang.name" ng-change="$ctrl.changeLanguage($ctrl.lang.name)" ng-options="lang.key as lang.name for lang in $ctrl.languages">-->
                <!--<option value="" disabled selected>{{ 'HEADER_LANG_SELECT' | translate }}</option>-->
              <!--</select>-->
            <!--</li>-->
          <!--</ul>-->
        <!--</li>-->
        <!--<li><a style="outline:0;border-left:medium none;" ui-sref-active="active" ui-sref="app.faq"><i class="fa fa-question-circle"></i></a></li>-->
        <!--<li>-->
          <a style="outline:0;cursor:pointer;border-right:none;" show-authed="true" ng-click="$ctrl.logout()">
            <i class="fa fa-sign-out"></i> <small><b>{{$ctrl._Wallet.current.name}}</b></small>
          </a>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<!-- NODE MODAL -->
<node><node>
