<!--  ADDRESS BOOK, RECIPIENT ADDRESS, ALIAS-->
<fieldset class="form-group">
  <div style="max-width: 600px !important; min-width: 600px;" class="input-group">
    <input ng-show="!$ctrl.showContacts" style="color: #cccaf7; background: #27254B" class="form-control form-control-lg placeholderColor" type="text" placeholder="{{ (!$ctrl.isCosignatory ? 'CACHE_FORM_RECIPIENT_PLACEHOLDER' : 'CACHE_FORM_RECIPIENT_PLACEHOLDER') | translate}}" ng-model="$ctrl.accountView" ng-change="$ctrl.processInput(false)" ng-class="!$ctrl.isValid($ctrl.accountView) ? 'has-error' : ''"/>
    <select style="color: #cccaf7; background: #27254B" ng-show="$ctrl.showContacts" class="form-control form-control-lg" ng-model="$ctrl.accountView" ng-options="contact.address as contact.label for contact in $ctrl._Wallet.contacts" ng-change="$ctrl.processInput(false);$ctrl.showContacts = false;">
      <option style="color: #cccaf7; background: #27254B" value="" disabled selected>{{ 'FORM_SELECT_CONTACT' | translate }}</option>
    </select>
    <span style="max-width: 40px" class="input-group-btn">
      <button type="button" class="btn btn-warning" data-toggle="tooltip" data-trigger="hover" data-placement="bottom" title="{{ 'FORM_BTN_OPEN_ADB' | translate }}" ng-click="$ctrl.showHideAddressBook();">
        <i class="fa">&#xf2b9;</i>
      </button>
    </span>
  </div>
</fieldset>
<!-- ADDRESS THAT BELONGS TO ALIAS -->
<fieldset class="form-group" ng-show="$ctrl.alias.length">
  <div class="input-group">
    <span class="input-group-btn">
      <label>{{ 'GENERAL_ALIAS' | translate }}: </label>
    </span>
    <input class="form-control form-control-lg" type="text" ng-model="$ctrl.alias" readOnly/>
  </div>
</fieldset>