<fieldset class="form-group" ng-show="Wallet.algo !== 'trezor'">
    <div class="input-group">
        <!--<span class="input-group-btn">-->
            <!--<label ng-class="!common.password.length ? 'has-error' : ''">{{ 'FORM_PASSWORD' | translate }}: </label>-->
        <!--</span>-->
      	<input style="max-width: 600px; min-width: 600px; height: 44px; margin-top: 20px; outline: none" class="sendXem password" type="password" placeholder="{{ 'CACHE_FORM_PASSWORD_FIELD_PLACEHOLDER' | translate }}" ng-model="common.password" ng-class="!common.password.length ? 'has-error' : ''"/>
    </div>
</fieldset>